.THIS {
    font-family: "Open Sans", Arial, sans-serif;
    display:block;
    float:right;
    -webkit-font-smoothing: antialiased;
}

.THIS .nav-links {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: flex-end;
}

.THIS a.nav-link {
    color: #292929;
	margin: 10px 20px 10px 20px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-transform: uppercase;
}

.THIS .nav-link i {
    margin-right: 12px;
}

.THIS .notification-container {
    border-left: 1px solid #DCDCDC;
    padding: 10px 25px 10px 18px;
}

.THIS .notification-container i {
    color: #1C614F;
    font-size: 15px;
    position: relative;
}

.THIS .notification-count {
    background-color: #f6771f;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 9px;
    height: 12px;
    padding: 1px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width: 12px;
}

@media(max-width: 670px) {
    .THIS .nav-links .nav-link {
    	display: none;    
    }
    .THIS .notification-container {
        border: none;
    }
    .THIS .nav-links > .notification-container {
       	display: none;
    }
    .THIS {
        float: none;
        width: 100%;
    }
    
    .THIS .nav-links {
        width: 100%;
    }
    
    .THIS .login-container {
        width: 100%;
    }
}